.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    color: black;
    color: white;
    height: 10px;
  }
  
  .NavBar-login {
    margin: 0 10px;
  }
  
  .NavBar-link {
    color: white;
  }
  
  .NavBar-hello {
    color: orangered;
  }